[submodule "thirdparty/cnmem"]
	path = thirdparty/cnmem
	url = https://github.com/NVIDIA/cnmem.git
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest.git
